{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foil & Ink</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Aboutus.css' %}">
</head>
<body>

    <div class="container">
        <div class="text-content">
          <h2>ABOUT ME </h2>
            <p class="highlight">LET ME CATCH YOU UP...</p>

            <h2>I Am an IT Frontend Developer Student Interested in Designing</h2>
            <p>I am passionate about learning and building innovative user interfaces. My journey has led me to explore creative design concepts, front-end technologies, and user experience principles to craft seamless and visually appealing web applications.</p>
            <p class="highlight">I am excited for my future..</p>
            <a href="#" class="btn">SAY HELLO</a>
        </div>
        <div class="image-content">
            <img src="{% static 'images/laddy.jpg' %}" alt="Woman with laptop">
        </div>
    </div>
</body>
</html>